<h3>Edit Artist</h3>

{{input value=model.name}}
{{#each error in model.errors.name}}
  <div class="error">
    {{error.message}}
  </div>
{{/each}}

<button {{action 'cancel'}}>Cancel</button>
<button {{action 'update'}} disabled={{isDisabled}}>Update</button>
