<h3>{{#if model.isNew}}Create{{else}}Update{{/if}} Album</h3>

{{input value=model.name}}
{{view 'select' content=artists optionValuePath="content.id" optionLabelPath="content.name" selection=model.artist prompt="Select an artist"}}

<button {{action 'cancel'}}>Cancel</button>
<button {{action 'save'}} disabled={{isDisabled}}>{{#if model.isNew}}Create{{else}}Update{{/if}}</button>
